<% if user_signed_in? %>
	<h1>LOGGED IN!</h1>
<% else %>
<div class="hero-unit"><h1>digibox App</h1>
<p>

	This is where it all begins for <%= link_to "Its Play", "http://itsplay.com.au" %>

</p>
<p>
	<%= link_to "Sign Up Here", new_user_registration_path, class:"btn-primary btn-large" %>

</p>
<% end %>
</div>